footer {
  text-align: center;
  font-size: 15px;
  color: #e7e7e7;
}

footer a {
  margin-left: 6px;
  margin-right: 6px;
}

@media (max-width: 992px) {
  footer {
    text-align: center;
    width: max-content;
  }
}
